<template>
    <form>
        <textarea id="contact-message"></textarea>
        <button id="contact-button">submit contact form</button>
        <script>
            (function(){
                var msg = document.querySelector('#contact-message');
                var btn = document.querySelector('#contact-button');
                btn.addEventListener('click', function () {
                    axios.post('/api/contactForm', {
                        message: msg.value
                    }).then(function (response) {
                        alert('thanks for contacting with us ' + JSON.stringify(response.data));
                    }).catch(function (error) {
                        alert('whoops');
                    });
                });
            })();
        </script>
    </form>
</template>

<style scoped>
button {
    border: 4px solid red;
}
</style>
