<template>
  <div class="container">
    <h1>Posts list</h1>
    <ol>
    <li v-for="post in posts" :key="post.id">
      <nuxt-link :to="'/blog/' + post.slug">{{ post.title }}</nuxt-link>
    </li>
    </ol>
    <section class="pagination">
      <nuxt-link v-for="page in pages" :key="page" :to="'/blog/page/' + page">{{page}}</nuxt-link>
    </section>
    <section id="prev-next">
      <nuxt-link v-if="pageNo > 1" :to="prevLink">Prev page</nuxt-link>
      <nuxt-link v-if="nextPage" :to="`/blog/page/${pageNo + 1}`">Next page</nuxt-link>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend<unknown, { pageNo: number }, unknown>({
  async asyncData({ $content, params, error }) {
    const perPage = 2;
    const pageNo = parseInt(params.number)
    const postsSource = await $content('blog')
      .sortBy('createdAt', 'desc')
      .limit(perPage)
      .skip(perPage * (pageNo - 1))
      .fetch()

    if (!postsSource.length) {
      return error({ statusCode: 404, message: 'No posts found!' })
    }

    const nextPage = postsSource.length === perPage
    const posts = postsSource

    const allPosts = await $content('blog')
      .sortBy('createdAt', 'desc')
      .fetch();

    const pages = Array.from(Array(Math.ceil(allPosts.length / perPage)).keys())
      .map((_, i) => i + 1);
    
    return { nextPage, posts, pageNo, pages }
  },

  computed: {
    prevLink() {
      return this.pageNo === 2 ? '/' : `/blog/page/${this.pageNo - 1}`
    }
  }
})
</script>

<style>
.pagination a {
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  margin: 0 0.2em;
  border-radius: 0.2em;
}
.pagination .nuxt-link-active {
  font-weight: bold;
}
</style>
