<template>
  <div class="container">
      <nuxt-content :document="page" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend<unknown, { pageNo: number }, unknown>({
  async asyncData({ $content, params, error }) {
    const page = await $content('blog', params.slug).fetch();

    return {
      page
    }
  },
})
</script>

<style>
</style>
