<template>
  <div class="container">
    <h1>Posts list</h1>
    <ol>
    <li v-for="post in posts" :key="post.id">
      <nuxt-link :to="'/blog/' + post.slug">{{ post.title }}</nuxt-link>
    </li>
    </ol>

    <section v-if="nextPage">
      <nuxt-link to="/blog/page/2">Next page</nuxt-link>
    </section>

    <contact-form></contact-form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import configuration from '../configuration';

export default Vue.extend({
  async asyncData({ $content }) {
    const perPage = configuration.perPage;
    const postsSource = await $content('blog')
      .sortBy('createdAt', 'desc')
      .limit(perPage)
      .fetch();

    const nextPage = postsSource.length === perPage;
    const posts = postsSource
    return { nextPage, posts }
  }
})
</script>

<style>
.container {
  margin: 0 auto;
}
</style>
